#parent {
  position: absolute;
  left: 50vw;
}

#views-panel {
  position: absolute;
  left: -50vmin;
  top: 1vh;
  z-index: 1;
  width: 100vmin;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 1.5vmin;
  color: white;
}

#help-panel {
  position: absolute;
  left: -50vmin;
  top: 20vh;
  z-index: 1;
  width: 100vmin;
  font-family: Arial, sans-serif;
  font-size: 1.5vmin;
  color: white;
}

#subwindows-panel {
  position: absolute;
  left: -49vw;
  bottom: -81vh;
  z-index: 1;
  width: 100vmin;
  font-family: Arial, sans-serif;
  font-size: 1.5vmin;
  color: white;
}

/* tables */
table.views {
  background-color: #70707070;
  text-align: right;
}

table.help {
  width: 50vmin;
  background-color: #70707050;
}

table.subwindows {
  position: absolute;
  background-color: #70707070;
  text-align: right;
}
